*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


.main-block{
	width: 1280px;
	margin: 0 auto ;
}

.hero{}

.hero-menu{
	text-transform: uppercase;
}

.hero-sub-menu {
	display: flex; 
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	}

.hero-sub-menu a{
	color: red;

}
.hero-title-1 {
	margin: 25px 72px 25px 470px ;

	
}
.hero-title-2{
	margin: 25px 72px 25px 0px ;
	
}
.hero-title-3{
	margin: 25px 50px 25px 0px ;
}

.hero-title-4{ 
	margin: 25px 0;

}
.set{

}
.Main-text{

}
.title-description{
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	text-transform: uppercase;
	color:  #373737;
	text-align: center;
	margin: 48px 0px 38px 0px;
}
.top-desription{
		font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.4px;
color: #373737;

}
.bottom-description{
	font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.4px;
color: #373737;
}
.btn-action{
	width: 100%;
	text-align: center;

}
.btn{
	width: 191px;
	height: 51px;
	color: white;
	background-color:  #FF0000;
	border-radius: 4px;
	text-transform: uppercase;
	
}
.basemen	{
	
	text-align:end;
	width:462px ;
	Height:39px;
	

}
.title-basement{
	text-align:end;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 2.4px;
	color: #373737;
	padding:82px 105px 29px;	

}