body{background-color: #E5E5E5;}
.ramda-title{
	margin-left: 98px;
	padding-top: 60px;
	font-size: 80px;
	line-height: 94px;
	color: #000000;


}
.ramda-sub-title{
	font-size: 80px;
	line-height: 94px;
	color: #4BCAFF;
}
.main-wraper{
width: 1480px;
margin: 0 auto;
margin-top: 50px;
background-color: #FFFFFF;

}

.header-menu{
	width: 1283px;
	Height:72px;
	display: flex;
	background-color: #35444F;
	margin: 0 auto;
	margin-top: 38px;
	
}

.header-menu li{
	display: inline-block;
	height: 72px;
	border-right: 1px solid white;
	border-left: 1px solid white ;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
}
.header-menu li:hover{
	background-color: #222F3A;
	box-sizing: border-box;
}

.header-menu-title-1{
	width: 330px;
	margin-left: 150px;
	text-align: center;
	padding-top: 15px;}

.header-menu-title-2{
	width: 153px;
	text-align: center;
	padding-top: 15px;}

.header-menu-title-3{
	width: 284px;
	text-align: center;
	padding-top: 15px;}	

.header-menu-title-4{
	width: 201px;
	text-align: center;
	padding-top: 15px;}	



.header-menu-link{
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
}





.body-wraper{
	display: flex;
	justify-content: center;
	margin-top: 48px;

}
.body-menu{
	width: 344px;
	height: 400px;
	border: 1px solid #000000;
	margin-right: 50px;

}


.body-menu-title{
	width: 344px;
   height: 80px;
	font-size: 27px;
	Line-height: 27px;
	color: #485863;
	padding-top: 9px;
	padding-left: 30px;
	box-sizing: border-box;
	
	
	
}

.body-menu-title:hover{	
	background-color: #DBDBDB;
	padding-left: 40px;
	transition: .5s ease padding;
}



.body-menu-link{
	display:block;
	padding: 10px;
}







.body-picture{
	width: 885px;
	height: 529px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #000000;
}

.body-text{
	width: 885px;
	margin-top: 38px;
}
.inside-text{
	
font-size:18px ; 
line-height:24px;

}
.sub-inside-text{
	display: inline-block;
	font-size:18px ; 
	line-height:24px;
	margin-top: 34px;
}


.footer-block{
	width: 1280px;
	Height:69px;
	margin: 0 auto 30px;
	margin-top: 54px;
	background: rgba(99, 105, 110, 0.48);
}
.footer-nav{
display: flex;
justify-content: space-around;
padding-top: 20px;

}
.footer-title{
font-size:28px;
Line-height:27px;
color:#0C1927;
}

.footer-link:hover{
	color: #4288A9;
}
