body{font-family:Ubuntu;
	font-weight: normal;}
.container{
	background-image: url(../img/Фон1.png);
	background-size: cover;
	width: 100%;
	height: 100vh;
	


}
.dark-line{
	position: absolute;
	width: 100%;
	height: 59px;
	background: rgba(0, 0, 0, 0.4);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	z-index: 1;
}
.dark-line:hover{
	background: #000000;
	mix-blend-mode: normal;
	opacity: 0.41;
}
.header-menu{
	width: 100%;
	height: 59px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.header-logo{
	z-index: 2;
	margin-left: 79px;
}
.link-logo{
	font-weight: bold;
	font-size: 22px;
	line-height: 22px;
	color: #FFFFFF;
}
.link-logo:hover{
	color:#3CB878; 
	
	
}
.header-right-link{
	width: 350px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
	margin-right: 79px;
}
.icon{
	width:21px;
	height: 24px;
	fill: #FFFFFF;
}
.wraper-text-icon{
	color: #FFFFFF;
	

font-size: 14px;
line-height: 14px;
}
.icon:hover{
	fill: #3CB878;
}
.link-icon{
	color: #FFFFFF;
}
.link-icon:hover{
	color: #3CB878;

}
main{
	width: 100%;
	height:    calc(100vh - 59px);
	display: flex;
	justify-content: center;
	align-items: center;
}


.popup{
	position: relative;
	width: 444px;
	height: 584px;
	background-color: #FFFFFF;
	
}
.wraper-popup-login{
	width: 324px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	margin-top: 32px;
	margin-bottom: 15px;
}
.green-shape{
	position: absolute;
	left: 0;
	top: 33px;
}
.sing-link{
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;
	color: #434343;
}
.log-link{
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	color:#3CB878;
}
.log-link:hover{
	color: #01813F;
	text-decoration: underline;
}
.wraper-social-network{
	width: 326px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.wraper-face{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 125px;
	height: 28px;
	padding: 10px 20px 10px 15px;
	border-radius: 4px;
	background-color: #305DB8;
}
.wraper-face:hover{
	background-color:#022263;
}
.title-social-network{
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;
	color: #FFFFFF;
}
.wraper-googl{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 125px;
	height: 28px;
	padding: 10px 20px 10px 15px;
	border-radius: 4px;
	background-color: #DF4A32;
}
.wraper-googl:hover{
	background-color: #AB1F09;
}
.wraper-choice-or{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.link-choice-or{
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	color: #848484;
}
.wraper-form{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 388px;

	
}
.wraper-test-form{
	width: 322px;
}

.input-test{
	width: 322px;
	height: 44px;
	background: #FFFFFF;
	border: 1px solid #F2F2F2;
	border-radius: 4px;
	margin-top: 14px;
	border: none;
	padding-left: 20px;
	color: #434343;
	font-family: Ubuntu;
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	
}
.textarea:focus, input:focus{outline: none;
}
::placeholder{
	color: #BEBEBE;
	font-family: Ubuntu;
	font-size: 14px;
	line-height: 14px;
	
}
.input-test:hover{
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
	border-radius: 4px;

}
.wraper-checkbox{
	display: flex;
	align-items: center;
	margin: 15px 0px 0px 0px;
}
.inp-checkbox{
	display: none;
}
.fake{
	display: inline-block;
	width: 14px;
	height: 15px;
	background: rgba(0, 0, 0, 0.0001);
	border: 1px solid #F2F2F2;
	position: relative;
}
.fake::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	width: 15px;
	height: 16px;
	background-image:url(../img/Vector1.png) ;
	opacity: 0;
	transition: .2s;
	
}
.inp-checkbox:checked + .fake::before{
	opacity: 1;
}


.text-check{
	display: inline-block;
	color: #434343;
	font-size: 14px;
	line-height: 14px;
}
.sub-text-check{
	color:  rgba(60, 184, 120, 0.8);
}	
.sub-text-check:hover{
color: #01813F;
}
button{
	margin-top: 20px;
	width: 324px;
	height: 46px;
	background: rgba(60, 184, 120, 0.8);
	border-radius: 4px;
	cursor: pointer;
	border: none;
	font-size: 16px;
	line-height: 16px;
	color: #ffffff;
}
button:hover{
	background-color:  #01813F;}




.wraper-svg{
	position: absolute;
}
