body{
   
   background: black;
   overflow: hidden;
	margin: 50% 0 0 0;
}




.main-block{
   display: flex;
	width: 70%;
   height: 100%;
   margin: 0 auto;
	perspective: 1200px;
}
.main-title{
	text-align: center;
}
.wraper-animation{
   color: yellow;
   font-size: 50px;
   font-weight: bold;
   line-height: 100px;
   position: relative;
   animation: scroll;
	animation-duration: 32s;
	animation-timing-function:cubic-bezier(.01,.33,.82,.4);


}



@keyframes scroll{
   from{top: 0px; transform:  rotateX(20deg)}
   to {top: -3500px; transform: translateZ(-1200px)  rotateX(20deg)}
}
