.main-container{

}
.wraper-milan{
	width: 1366px;
	height: 768px;
	margin: 0 auto;
}
.bacround{
	background: url(../img/background\ 1.png);
	width: 100%;
	height: 100%;
}
.wraper-title-logo{
	width: 978px;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	padding: 51px 20px 26px 0px;
}
.sub-wraper-logo{
	display: flex;
	padding: 5px;
}
.logo-text{
	color: #FFFFFF;
	font-size: 29px;
	line-height: 29px;
	text-transform: uppercase;
}
.logo-sub-text{
	color: #FFFFFF;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
}


.img-1{
	width: 1024px;
	display: flex;
	justify-content: space-around;
	padding: 0px 0px 0px 165px;
	
}
.img-2{
	width: 1024px;
	margin: 78px 0px 0px 165px;
	display: flex;
	justify-content: space-around;
	
}
.img-inside{
	width: 300px;
	height: 220px;
}
.hello{
	text-align: center;
}
