
.main-block{
	width: 1900px

}
.top-wraper-nav{
	height: 70px;
	background-color: #313131;
	display: flex;
	
}
.top-nav{
	width: 807px;
display: flex;

	margin: 0 auto;
	

	


}
.top-title-nav{
	padding: 25px 30px 0px 0px;

}
.top-link-nav{
	color: #FFFFFF;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 600;
}
.top-link-nav:hover{
	color: #14B9D5;
}
.wraper-logo{
	display: flex;
}
.fvc-logo{
	width: 27px;
	height: 27px;
	padding: 22px 27px 20px 27px;
}
.title-logo-img{
	font-weight: bold;
	font-size: 22px;
	line-height: 30px;
	color: #FFFFFF;
	padding-top: 21px;}

.wraper-img-sorch{
	width: 68px;
	height: 70px;
	background-color:#000000;
	display: flex;
	justify-content: center;
	align-items: center;

}
.fvc-sourch{
	width: 17px;
	height: 17px;
}
.wraper-latest-news-img{
	width: 100%;
	height: 369px;
	background: url(../img/header-background.png) 
	0px 70px  no-repeat fixed  ;
}
.wraper-butun-subscribe{
	display: flex;
	justify-content: center;
	margin-top: 60px;
}
.text-latest-news{
	font-size: 27px;
	line-height: 37px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 163px;}

.butun-subscribe{
	width: 170px;
	height: 55px;
	background-color: #89CA62;
	text-align: center;
	padding-top: 16px;
	margin-right: 20px;
	border-radius: 5px;}

.link-subscribe{
	size: 18px;
	line-height: 25px;
	font-weight: bold;
	color: #FFFFFF;}

.butun-articles{
	width: 170px;
	height: 55px;
	text-align: center;
	padding-top: 16px;
	background-color: #14B9D5;
	border-radius: 5px;}	

.text-most-popular{
	font-weight: bold;
	font-size: 27px;
	line-height: 37px;
	color: #18B4CF;
	text-transform:uppercase;
	text-align: center;
	margin: 49px 40px 52px 0px;}


.wraper-most-popular-img{
	display: grid;
	grid-template-columns: 370px 370px 370px;
	grid-template-rows: auto auto auto;
	grid-gap: 30px ;
	margin-left: 370px;
}
.text-picture-most-popular{
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #353A3D;}

.wraper-img-popular-clients{
	width: 1900px;
	height: 588px;
	background: url(../img/parallax-bg.jpeg)
	0px 70px  no-repeat fixed ; }

.title-our-client{
	font-weight: bold;
	font-size: 32px;
	line-height: 43px;
	color: #FFFFFF;
	padding-top:  106px;
	margin-left: 702px;}

.wraper-imgs-text{
	display: flex;
	width: 900px;
	justify-content: space-between;
	padding-top:  357px;
	margin-left: 510px;
}
.text-top-trade{
	font-weight: bold;
	font-size: 27px;
	line-height: 37px;
	color: #18B4CF;
	padding-top:  49px;
	margin-left: 868px;
	text-transform: uppercase;
	
}
.block-kids-store{
	display: flex;
	margin-top: 52px;
}

.footer-wraper{
	display: grid;
	width: 1168px;
	grid-template-columns: repeat(20, 58px) ;
	grid-template-rows: auto auto auto auto auto;
	margin: 0 auto;
	margin-top: 50px;
	grid-row-gap: 42px;
	
	
}

.wraper-text-news-1{
	width: 350px;
	
	grid-column: 10/ 16;

}


.wraper-img-news-2{
	grid-column: 16 / 20;
	margin-left: 18px;	
}
.img-news-2-title{
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #353A3D;
	padding: 10px 0px 0px 20px;
}
.wraper-img-news-3{
	grid-column: 1 / 11;
	
}
.img-news-3-title{
	text-align: end;
	margin: 10px 30px 15px 0px;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	color: #353A3D;
}


.wraper-img-news-4{
	grid-column: 11 / 21;
	
	
	
}
.wraper-img-news-5{
	grid-column: 1 /11;
	grid-row: 3 / 4;
}
.wraper-img-news-6{
	grid-row: 3 / 4;
	grid-column: 11 / 21;
	
}
.wraper-img-news-7{
	grid-row: 4 / 5;
	grid-column: 1 / 5;
}
.wraper-img-news-8{
	grid-row: 4 / 5;
	grid-column: 6 / 16;
	margin-left: 25px;
}
.wraper-news-9{
	width: 350px;
	grid-column: 15 / 20;
	grid-row: 4 / 5;
	text-align: end;
	
}


.text-prophecy{
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	color: #353A3D;
	text-align: center;
	padding: 41px 0px 15px 0px ;
}
.sub-text-prophecy{
	width: 310px;
	text-align: right;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	color:#5B6469;
}
.title-img-news{
	text-align: end;
	margin: 10px 30px 15px 0px;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	color: #353A3D;

}
.text-img-news{
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	color: #5B6469;
	width: 510px;
	text-align: right;
	margin-left: 38px;
}

.bootom{
	width: 1900px;
	height: 80px;
	background: url(../img/footer-bg.png);
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.text-footer{
	
	
	font-weight: normal;
	font-size: 13px;
	line-height: 13px;
	color: #FFFFFF;
	
}
