.container{
	background-image: url(../img/Фон\ 1.png);
	background-size: cover;
	width: 100%;
	height: 100vh;
	font-family:Ubuntu;
	font-weight: 400;
}
.dark-line{
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../img/Header-fon.png);
	width: 100% ;
	height: 59px;
	background: rgba(0, 0, 0, 0.4);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dark-line:hover{
	background: #000000;
	mix-blend-mode: normal;
	opacity: 0.41;
}
.wrap-header{
	width: 100% ;
	height: 59px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.text-logo{
	font-weight: bold;
	font-size: 22px;
	height: 22px;
	color: #FFFFFF;
	margin-left: 80px;
}
.text-logo:hover{
	color: #3CB878;
}
.wraper-icon{
	display: flex;
	justify-content: space-between;
	width: 347px;
	margin-right: 80px;
}
.icon{
	width: 23px;
	height: 23px;
	fill: #FFFFFF;
	cursor: pointer;
}
.icon:hover{
	fill: #3CB878;
}
.wraper-text-icon{
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	color: #FFFFFF;
}
.link-icon{
	color: #FFFFFF;
}
.link-icon:hover{
	color: #3CB878;
}
.popup{
	max-width: 444px;
	height: 584px;
	position: absolute;
	top: calc(47% - 242px);
	left: 0;
	right: 0;
	margin: 0 auto;
	background: #FFFFFF;
	box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.shap-position{
	position: absolute;
	top: 33px;
	left: 0px;
}
.wraper-link-popup{
	width: 324px;
	display: flex;
	justify-content: space-between;
	margin: 31px 0px 0px 60px;
}
.link-text-up{
font-size: 20px;
line-height: 20px;
color:#434343; 
}
.link-text-in{
	font-size: 14px;
	line-height: 14px;
	color: #3CB878;
}
.link-text-in:hover{
	color: #01813F;
}
.wraper-social-network{
	display: flex;
	justify-content: space-between;
	margin: 16px 0px 0px 60px;
	width: 324px;
}
.wraper-facebook{
	display: flex;
	width: 160px;
	height: 48px;
	background-color: #305DB8;
	border-radius: 4px;
}
.wraper-facebook:hover{
	background-color: #022263;
}
.social-img{
	margin: 12px 0px 0px 17px;
}
.line-vertic{
	margin: 10px 0px 0px 18px;
}
.text-social{
	margin: 17px 0px 0px 18px;
	font-size: 16px;
	line-height: 16px;
	
}
.link-social{
	color: #FFFFFF;
}
.wraper-google{
	display: flex;
	width: 160px;
	height: 48px;
	background-color: #DF4A32;
	border-radius: 4px;
}
.wraper-google:hover{
	background-color: #AB1F09;
}
.popup-text-or{
	margin: 21px 0px 0px 215px;
	font-size: 14px;
	line-height: 14px;
	color: #848484;
}


.input-test{
	width: 324px;
	height: 43px;
	border: 1px solid #F2F2F2;
	border-radius: 4px;
	margin: 13px 0px 0px 60px;
}
.input-test:hover{

	background: #FFFFFF;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
	border-radius: 4px;
	
}


.inp-checkbox{
	display: none;
}
.fake{
	display: inline-block;
	width: 14px;
	height: 14px;
	background: rgba(0, 0, 0, 0.0001);
	border: 1px solid #F2F2F2;
	position: relative;
}
.fake::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	width: 15px;
	height: 15px;
	background-image:url(../img/Vector\ 1.svg) ;
	opacity: 0;
	transition: .2s;
	
}
.inp-checkbox:checked + .fake::before{
	opacity: 1;
}


.text-check{
	display: inline-block;
	color: #434343;
	font-size: 14px;
	line-height: 14px;
}
.sub-text-check{
	color:  rgba(60, 184, 120, 0.8);
}	
.sub-text-check:hover{
color: #01813F;
}
.wraper-checkbox{
	display: flex;
	margin: 10px 0px 0px 60px;
}
button{
	margin: 18px 0px 0px 60px;
	width: 324px;
	height: 46px;
	background: rgba(60, 184, 120, 0.8);
	border-radius: 4px;
	cursor: pointer;
	border: none;
	font-size: 16px;
	line-height: 16px;
	color: #ffffff;
}
button:hover{
	background-color:  #01813F;}




