main{
	
	display: flex;
}
.backround{
	background: url(../img/background\ 1.png);
	width: 1349px; 
	height: 768px;	
	padding: 51px 0px 0px 0px;
	margin: 55px;
}
header{
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 1025px;
	height: 48px;
	margin: 0 auto;
}
.wraper-logo-text{
	margin-left: 64px;
}
.wraper-logo-text:hover .logo-text {
	color:  #F26522;
}
.wraper-logo-text:hover .effect{
	width: 54px;
}
.photo{
	position: absolute;
	top: 0px;
	left: 0;
}
.effect{
	width: 0;
	overflow: hidden;
}
.logo-text{
	font-family: Roboto;
	font-weight: normal;
	font-size: 18px;
	line-height: 18px;
	color: #fff;	
}
.logo-text-without{
		font-family: Roboto;
	font-weight: normal;
	font-size: 18px;
	line-height: 18px;
	color: #fff;

}
.logo-size{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 29px;
	line-height: 29px;
	color: #fff;	
}
.info-header{
	display: flex;
	justify-content: flex-end;
	font-family: Roboto;
	font-weight: normal;
	font-size: 18px;
	line-height: 18px;
	color: #fff;
	margin-bottom	: 16px;
}
.info-header-without {
	display: flex;
	justify-content: flex-end;
	font-family: Roboto;
	font-weight: normal;
	font-size: 18px;
	line-height: 18px;
	color: #fff;
	margin-bottom	: 16px;
}
.info-header:hover{
	color: #F26522;
}
.line-img{
	width: 1025px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	
}
.first-line{
	margin-top: 20px;
}
.first-line-img{
	position: relative;

}
.link-price{
	width: 304px;
	height: 55px;
	background-color: #F26522;
	position: absolute;
	right:  0px;
	bottom: 40px;
	opacity: 0;
}

.wraper-link-price:hover .link-price{
	opacity: 1;

}
.line-img-link:hover {
	color: #F26522;
}

.line-img-link{
	font-family: Roboto;
	font-weight: normal;
	font-size: 18px;
	line-height: 18px;
	color: white;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.line-img-link-without{
	font-family: Roboto;
	font-weight: normal;
	font-size: 18px;
	line-height: 18px;
	color: white;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.link-price-from{
	position: absolute;
	top: 7px;
	left:  16px;
	font-family: Roboto;
	font-weight: normal;
	font-size: 10px;
	line-height: 10px;
	color: #fff;
}
.link-price-fifty{
	position: absolute;
	top: 29px;
	left: 16px;
	font-family: Roboto;
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;
	color: #fff;
}
.link-price-details{
	position: absolute;
	bottom: 12px;
	right: 37px;
	font-family: Roboto;
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	color: #fff;
}
.link-price-mark::before{
	content: '';
	background: url(../img/Vector\ 1.png)
	no-repeat;
	position: absolute;
	bottom: 10px;
	right: 12px;
	
	width: 15px;
	height: 15px;
	color:  #FFFFFF;
	
}
.second-line{
	margin-top: 37px;

}
.footer-info{
	text-align: center;
	font-family: Roboto;
	font-weight: normal;
	font-size: 12px;
	line-height: 12px;
	color: #fff;
	margin-top: 49px;

}